@require 'nib'
@require 'axis'
@require 'rupture'
@require 'jeet'

normalize-css()

*
    box-sizing border-box

html, body
    padding 0
    margin 0

body
    font-family "Source Sans Pro"

section
    padding 0.5rem 1rem

input.error
    background-color pink

#login-form
    input
    button
        display block
        col(1)
        margin-bottom 0.5rem

    #login-button
        button green large

    #login-reset
        button red large

#currentGame
    .button
        col(1/3)
        button lightsteelblue
        font-size 10vw

        &.selected
            button green
            font-size 10vw
