@require 'nib'
@require 'axis'
@require 'rupture'
@require 'jeet'

normalize-css()

*
    box-sizing border-box

html, body
    padding 0
    margin 0

body
    font-family "Source Sans Pro"

#currentGame
    .button
        col(1/3)
        button lightsteelblue
        text-align center
        font-size 10vw

        &.selected
            button green
            font-size 10vw
