template(name="stats")
    with currentRound
        h2 Current round
        p round #{_id}
        if overdue
            p waiting for enough plays
        else
            p ending in #{remainingTime}
