template(name="currentGame")
    with myPlay
        section#currentGame
            +playButton 'rock'
            +playButton 'paper'
            +playButton 'scissors'

template(name="playButton")
    span.button(id=this class=buttonClass)= text
