template(name="currentGame")
    with myPlay
        section#currentGame
            span.button#rock(class=rockClass) ˚
            span.button#paper(class=paperClass) ˉ
            span.button#scissors(class=scissorsClass) ^
