head
    title Roshambo
    meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
    meta(name="apple-mobile-web-app-capable" content="yes")
    link(rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,400italic,700italic")
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

body
    +topbar
    if currentUser
        +stats
        +currentGame
    else
        +splash
