@require 'nib'
@require 'axis'
@require 'rupture'
@require 'jeet'

normalize-css()

*
    box-sizing border-box

html, body
    padding 0
    margin 0

body
    font-family "Source Sans Pro"

section
    padding 0.5rem 1rem

input.error
    background-color pink

a.pseudo-link
    color blue
    text-decoration underline
    cursor pointer

#topbar
    background-color #ccc
    padding 3px 5px
    display table
    width 100%

    #login-buttons
    #connection-status
        display table-cell

    #connection-status
        text-align right

        &.connected
            color green
        &.waiting
            color red
        &.failed
            color darkgrey

#splash
    #splash-login
        button green

#stats
    .round-results
        font-size 200%
        line-height 50%
        vertical-align bottom

        &:nth-child(2)
            opacity .8

        &:nth-child(3)
            opacity .6

        &:nth-child(4)
            opacity .4

        &:nth-child(5)
            opacity .2

    #redeem-streak
        button green

    #risk-streak
        button orange

#currentGame
    .button
        col(1/3)
        button lightsteelblue
        font-size 10vw
        height 10vw

        &.confirm-selection
            button yellow large
            font-size 3vw
            height 10vw

        &.selected
            button green
            font-size 10vw
            height 10vw

        &.not-selected
            button lightgrey
            font-size 10vw
            height 10vw
            cursor wait

#ranking
    area()
    cf()

    h2
        margin-top 0

    table
        col(1/2)

    th
        text-align left

    th
    td
        padding 3px 5px

    tr:nth-child(even)
        background-color #ddd

    tr.you
        background-color #ff8080

    .score
        text-align right
