template(name="topbar")
    #topbar
        +loginButtons
        with connectionStatus
            #connection-status(class=status)
                if connected
                    | Connected
                else if reason
                    | Can't connect: #{reason}
                else if retryTime
                    | Disconnected: retrying #{retryTimeOffset}
                else
                    | Connecting…
